html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-dark-gray) var(--color-dark-alt);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-dark-alt);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-gray);
  border: 2px solid var(--color-dark-alt);
  border-radius: var(--border-radius-sm);
  transition-duration: var(--transition-duration);

  &:hover {
    background-color: var(--color-dark-gray-alt);
  }

  &:active {
    background-color: var(--color-light-gray);
  }
}

::selection {
  background-color: var(--color-light);
  color: var(--color-dark);
}

body {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-light-gray);
  background-color: var(--color-dark-alt);

  &.is-lock {
    overflow: hidden;
  }
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-light);

  &:hover {
    color: var(--color-light-gray);
  }
}

h1, h2, h3 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
}

:focus-visible {
  outline: 2px dashed var(--color-light);
  outline-offset: 4px;
  transition-duration: 0s !important;
}
